.footer__copyright {
  font-family: "Inter", "system", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  margin: 0;
  flex-shrink: 1;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 100%;
    margin-top: 48px;
  }
}
