.places__website {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  margin: 0;
  align-self: end;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .places__website {
    align-self: auto;
  }
}
