.intro-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  /* identical to box height, or 107% */
  color: #FFFFFF;
  margin: 0 auto 40px auto;
}

@media screen and (max-width: 768px) {
  .intro-title {
    font-size: 54px;
    line-height: 107%;
  }
}

@media screen and (max-width: 320px) {
  .intro-title {
    font-size: 32px;
    line-height: 109%;
  }
}
